#content .clip {
    width: 300px;
    height: 200px;
    border: 2px solid #5d5d5d;
    margin: 5px 10px;
    padding: 1px;
    float: left;
}

#content .pager2 {
    clear: both;
}

.clear {
    clear:both;
}

#content h1 {
    text-align: center;
}